/*标签选择器定义*/
div{
    background-color: aqua;width: 200px;
    height: 200px;
    margin: 10px;

}
/*类选择器*/
.div1{
    background-color: blueviolet;width: 100px;
    height: 100px;margin: 10px;
}
/*id选择器*/
#div2{
    background-color: cornflowerblue;
    width: 100px;height: 100px;margin: 10px;
}
.font30{
    font-size: 30px;
}
.font20{
    font-size: 20px;background-image: url("../imgs/a.jpg");
    /*../向上寻找*/
}